<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>SlamBook</title>
        <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
    </head>
    <body id="cnee-admin">
    	<div id="allwrap">
    		<div id="cnee-login" class="section">
    			<h2>Slambook</h2>
    			<form th:action="@{/login}" method="post" id="admin_login_form">
    				<table>
    					<tr>
                            <td colspan="2" id="error">
                            	<div th:if="${param.error}">
					            Invalid username and password.
						        </div>
                            </td>
                        </tr>
                         <tr>
	                        <td>User:</td>
	                        <td><input type="text" name="username"/></td>
	                    </tr>
	                    <tr>
	                        <td>Password:</td>
	                        <td><input type="password" name="password"/></td>
	                    </tr>
	                    <tr>
	                        <td>Remember Me:</td>
	                        <td><input type="checkbox" name="remember-me" id="remember-me"/> </td>
	                    </tr>
	                    <tr>
	                        <td colspan='2'><input name="submit" value="login" type="submit" class="btn btn-success"/></td>
	                    </tr>
	                    <tr>
	                        <td>New User ? <a th:href="@{/register}"> Register here</a> </td>
	                    </tr>
    				</table>
    			</form>
    		</div>
        </div>
    </body>
</html>	




 