<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>SlamBook Registration</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
    <div class="body"></div>
    <div class="grad"></div>
				<div class="header">
					<div>Slam<span>Book Registration</span></div>
				</div>
				<br/><br/><br/><br/>
				<div class="login">
    			<form th:action="@{/registration}" method="post" id="admin_login_form" enctype="multipart/form-data">
    				<table>
    					<tr>
                            <td colspan="2" id="error">
                            	<div th:if="${param.error}">
					            Registration failure.
						        </div>
                            </td>
                        </tr>
                        <tr>
	                        <td>Firstname:</td>
	                        <td><input type="text" name="firstname"/></td>
	                    </tr>
	                    <tr>
	                        <td>Lastname:</td>
	                        <td><input type="text" name="lastname"/></td>
	                    </tr>
                        <tr>
	                        <td>Username:</td>
	                        <td><input type="text" name="username"/></td>
	                    </tr>
	                    <tr>
	                        <td>Password:</td>
	                        <td><input type="password" name="password"/></td>
	                    </tr>
	                    <tr>
	                        <td>Confirm Password:</td>
	                        <td><input type="password" name="confirmpassword"/></td>
	                    </tr>
	                    <tr>
	                        <td>Email:</td>
	                        <td><input type="text" name="email"/></td>
	                    </tr>
	                    <tr>
	                        <td>Profile pics:</td>
	                        <td><input type="file" name="profilepic"/></td>
	                    </tr>
	                    <tr>
	                        <td>Gender :</td>
	                        <td>
	                        	<input type="radio" name="male" value="Male"/>Male
	                        	<input type="radio" name="male" value="Female"/>Female
	                        </td>
	                    </tr>
	                    <tr>
	                        <td colspan='6'><input name="submit" value="register" type="submit" class="btn btn-success"/></td>
	                    </tr>
    				</table>
    			</form>
    			</div>
    </body>
</html>	




 