<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>SlamBook Search</title>
        <link rel="stylesheet" type="text/css" href="/css/recall-client.css"/>
    </head>
    <body id="cnee-admin">
    	<div id="allwrap">
    		<div id="cnee-login" class="section">
    			<h2>Slambook Search</h2>
    			<form th:action="@{/searchUser}" method="post" th:object="${searchModel}"  id="admin_login_form">
    				<table>
    					<tr>
                            <td colspan="2" id="error">
                            	<div th:if="${param.error}">
					            Search failure.
						        </div>
                            </td>
                        </tr>
                        <tr>
	                        <td>search by first name :</td>
	                        <td><input type="text" name="firstname"/></td>
	                    </tr>
	                    <tr>
	                        <td>search by lastname:</td>
	                        <td><input type="text" name="lastname"/></td>
	                    </tr>
                        <tr>
	                        <td>search by email:</td>
	                        <td><input type="text" name="email"/></td>
	                    </tr>
	                    <tr>
	                        <td colspan='3'><input name="submit" value="search" type="submit" class="btn btn-success"/></td>
	                    </tr>
    				</table>
    				<table>
    				<tr th:each="message : ${userList}">
					    <td th:text="${message.firstname}"></td>
					    <td th:text="${message.lastname}"></td>
					    <td th:text="${message.email}"></td>
					    <td><a th:href="@{/viewprofile/(email=${message.email})}">Send Message</a></td>
					</tr>
    				</table>
    			</form>
    		</div>
        </div>
    </body>
</html>	




 